$black: #232323;
$white: #ffffff;

$gray: #7b7b7b;
$gray-line: #dedede;

$orange: #fe5f1e;
$orange-hover: #e64f12;

$font-main: 'Proxima Nova', sans-serif;

$container-width: 1200px;

$radius: 10px;
$radius-pill: 30px;

$transition: 0.2s ease-in-out;
